*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
	font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) { // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  word-wrap : break-word;
  overflow-wrap : break-word;
	@include fz(13);
}

::selection {
	color: $lightgray;
	background: $blue;
}

::-moz-selection {
  color: $lightgray;
	background: $blue;
}

a{
	color: $gray;
	text-decoration: underline;
	&:hover{
		color: $lightgray;
		text-decoration: none;
	}
}

// p{
// 	@include inline-block;
// 	@include box-shadow( 0 0 10px #a82f34);
// 	@include opacity(.5);
// }

// /*============================================================================
// reset
// ============================================================================*/
// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
// }
//
// html {
//     // This defines what 1rem is
//     font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
//
//     @include respond(tab-land) { // width < 1200?
//         font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
//     }
//
//     @include respond(tab-port) { // width < 900?
//         font-size: 50%; //1 rem = 8px, 8/16 = 50%
//     }
//
//     @include respond(big-desktop) {
//         font-size: 75%; //1rem = 12, 12/16
//     }
// }
//
// body {
//   font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
//   box-sizing: border-box;
//
  // @include respond(tab-port) {
  //     padding: 0;
  // }
// }
//
/*============================================================================
common
============================================================================*/

.ta_right {
  text-align: right;
}
.ta_center {
  text-align: center;
}
.ta_left {
  text-align: left;
}
.fl_right {
  float: right;
}
.fl_left {
  float: left;
}
