//Bootstrap test
// header {
// 	background: #563d7c;
// 	padding: 2em 1em;
// 	color: #fff;
// 	margin-bottom: 2em;
//
//   position: fixed;
//     top: 0;
//     height: 100%;
//     width: 21.42857rem;
// 	h1 {
// 		font-weight: 200;
// 	}
// }
//
// [class*="row"] {
// 	margin-bottom: 1em;
// }
//
// [class*="col-"] {
// 	padding-top: .75rem;
// 	padding-bottom: .75rem;
// 	background-color: rgba(86, 61, 124, 0.15);
// 	border: 1px solid rgba(86, 61, 124, 0.2);
// 	width: 100%;
// }

body {
  margin-left: 21.42857rem;
}

.menu_list {
  position: fixed;
  top: 0;
  height: 100%;
  width: 21.42857rem;
  background: #563d7c;
  color: #fff;
  padding: 2em 1em;
  right: auto;
  left: 0;
}

section {
  background-color: rgb(225, 228, 62);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: rgb(255, 164, 80);
  @include respond(phone) {
    max-width: 540px;
  }
  @include respond(tab-land) {
    max-width: 720px;
  }
  @include respond(tab-port) {
    max-width: 960px;
  }
  @include respond(big-desktop) {
    max-width: 1140px;
  }
}
.hr {
  padding-top: 1.5rem;
  border-color: #fff;
  border-top: 1px solid;
}
