/*============================================================================
 variables setting
============================================================================*/
$black:		#000;
$gray:		#999;
$lightgray: #ccc;
$white: 	#fff;
$blue:		#39e5dd;
