body {
  margin-left: 25rem;
}

h1, h2, h3, h4, h5, h6 {
  @include fz(15);
}

a {
  transition: all .2s;
}

.site-title, .site-description {
  font-family:$font-family-san-serif;
  font-weight: 300;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: .5rem;
}

.site-title {
  @include fz(17);
  padding-top: 1rem;
}

.site-description  {
  @include fz(10);
}

#primary-menu {
  @include fz(13);
}

#site-navigation {
  margin-top: 2rem;
  padding: 3rem 2rem 0;
  border-color: #eee;
  border-top: 1px solid  #eee;
  li:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.site-header {
  position: fixed;
  top: 0;
  height: 100%;
  width: 25rem;
  background: #fff;
  color: #555;
  padding: 0 1rem;
  right: auto;
  left: 0;
}
