h1, h2, h3, h4, h5, h6 {
	clear: both;
  @include font-size(15);
}
.site-title, .site-description {
  font-family:$font-family-san-serif;
  font-weight: 300;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: .5rem;
}

.site-title {
  @include font-size(17);
  padding-top: 1rem;
}

.site-description  {
  @include font-size(10);
}
